* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$font-a: 'Roboto', sans-serif;
$font-b: 'Saira Condensed', sans-serif;

body {
  background-image: linear-gradient(90deg, #fff 47%, #000 0%, #000 50%);
  height: 100%;
}

.container {
  max-width: 1100px;
  padding: 1rem;
  background-image: inherit;
  .heading {
    font-family: $font-b;
    font-size: 1.7rem;
    color: #f4f4f4;
    mix-blend-mode: difference;
    margin-bottom: 2rem;
    text-align: center;
  }
  .lead {
    text-align: center;
    font-family: $font-b;
    color: #fff;
    font-weight: bold;
    mix-blend-mode: difference;
    font-size: 1rem;
  }
  .btn {
    outline: none;
    border: none;
    padding: 0.7rem 1.5rem;
    color: #000;
    font-weight: bold;
    font-family: $font-b;
    border-radius: 5px;
    position: relative;
    right: 9px;
    cursor: pointer;
    mix-blend-mode: difference;
    display: block;
    margin: 0.9rem auto;
  }
  .color--generator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;
    gap: 0.5rem;
    .color {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 35vh;
      border-radius: 0.3rem;
      .color--value {
        mix-blend-mode: difference;
        color: #fff;
        font-size: 0.9rem;
        font-family: $font-b;
      }
    }
  }
}
